body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;

}

.profile-container{
    width: 80%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.profile-container:hover{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
}

.profile-header{
    position: relative;
    height: 180px;
    background: linear-gradient(100deg, #5D6D7E, #212F3D);
}

.profile-photo{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    border: 4px solid #fff;
    background-image: url("./profile_photo.png");
    background-size: cover;
    background-position: center;
}

h2, p{
    text-align: center;
    margin: 16px;

}

h2{
    margin-top: 50px;
    font-size: 24px;
    font-weight: 500;   
}

contact-info{
    margin: 0 16px 24px;
    font-size: 16px;
}

strong{
    color: #555;
}

.social-link{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.social-link a {
    color: #555;
    font-size: 24px;
    transition: color 0.3s;
}
